@charset "UTF-8";


    *{
      font-family: Arial;
    }

    :root{
      --hue: 240;
      --primary-color: hsl(var(--hue), 66%, 69%);
      --second-color: hsl(calc(var(--hue) + 40), 66%, 69%);
      --soft-grey: hsl(0, 0%, 80%);
    }

    body{
      background: linear-gradient(to bottom right, var(--primary-color) 15%, var(--second-color) 100%);
      position: relative;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .conteudo{
      margin-bottom: 100px;
      background-color: white;
      border: 1px solid;
      border-radius: 10px;
      border-color: var(--primary-color);
      width: 500px;
      max-width: 500px;
      position: relative;    
      padding: 20px 20px 30px;
    } 

    body h1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 35px;
    }

    p{
       margin:0; 
       font-size: 20px;
       padding: 5px;
    }

    a{
      color: var(--primary-color);
      text-decoration: none;
    }
    
    a:hover{
      color: var(--primary-color);
      transform: width 100%;
      opacity: 1;
      text-decoration: underline;
    }

     .botao {
      text-align: center;
      background-color: #c5c5c5;
      border: none;
      border-radius: 5px;
      color: #ffffff;
      padding: 12px; 
      bottom: 30px;
      font-size: 16px;
      transition-duration: 0.4s;
      width: 60px; 
      position: absolute;
      left: 460px;
      transform: translate(-50%, 0);
      text-decoration: none;
    } 

    .botao:hover {
      background: var(--second-color);
      cursor: pointer;
      color: white;
      text-decoration: none;
    } 

    